#header-banner {
  margin-top: -1px;
}

#carousel {
  margin-top: 100px;
  margin-bottom: 80px;
}

@media (max-width: 735px) {
  #carousel video {
    margin-top: 55px;
  }

  #carousel {
    margin-top: -40px;
  }
}